.search-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 8px;
}

.search-btn:hover {
  background-color: #6c8cff;
}

.form-wrapper {
  display: flex;
  padding: 36px;
}

.search-form {
  margin: 0 auto;
}

.search-field {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-field::placeholder {
  color: #808080;
}

.search-field:hover {
  border-color: #000;
}

.search-field:active,
.search-field:focus {
  border-color: #4e75ff;
  outline: none;
}
